/*Navigation*/
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  }
  body{
    font-family: "Product Sans";
  }

  *{
    background-color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: "Product Sans";
}

nav{
    position: fixed;
    margin: 0 auto;
    width: 80%;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 2%;
    height: 100px;


}
nav .logo {
    float: left;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center; 
    margin-right: 10%;
    
}
#nav_active{
    background-color: #970909;
    color: wheat;
    border-radius: 18px;
}
nav .links{
    float: left;
    padding: 0;  
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .links a{
      height: 35px;
      width: 130px;
      text-align: center;
      padding: 1em;
      padding-top: 8px;
      display: block;
      font-size: 16px;
      font-weight:400;
      text-decoration: none;
      border-radius: 18px;

}
nav .links a:hover,nav .links a:focus {
  background-color: #970909;
  color: white;
  border-radius: 18px;
  -webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;
}
#nav-toggle{
    position: absolute;
    top: -100px;
}
nav .icon-burger{
    display: none;
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
}
nav .icon-burger .line{
    width: 30px;
    height: 5px;
    background-color: rgb(255, 0, 0);
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}
nav .logo-1{
  margin-top: 10px;
  width: 70px; 
  height: 80px; 
  display: flex;
  float: right;
  align-items: center;
}
.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;

}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0px;
  background-color: rgb(255, 166, 0);
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 1;
  background-color: #970909;
  font-size: 14px;
}

.dropdown-content a:hover {background-color: #000000}

.dropdown:hover .dropdown-content {
  display: block;
}
    

    @media screen and (max-width: 1350px) {
    
    
      nav{
        width: 100%;
        position: fixed;
      }
    
        nav .logo{
        float: left;
        width: auto;
        justify-content: center;
        margin-right: 50px;

      }
    }
    

    
    @media screen and (max-width: 1100px) {

      #nav_active{
      border-radius: 0;
      color: white;
          }
    nav .links a{
      height: 35px;
      text-align: center;
      color: white;
    }
    nav .links{
      float: none;
      position: fixed;
      z-index: 9;
      right: 0;
      top: 100px;
      bottom: 100%;
      width: 150px;
      height: auto;
      flex-direction: column;
      justify-content:center;
      overflow: hidden;
      box-sizing: border-box;
      background-color: white;
      border-radius: 10px 0 0 10px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);


    }
    nav .links li, #nav_active{
      width: 100%;

    }
      nav .links a {
      font-size: 16px;
      width: 100%;
      color: #000000;
        border-bottom: 1px solid rgb(228, 228, 228);
        background-color: white;

    }
        nav :checked ~ .links {
        bottom: 50%;
      }
        nav .icon-burger {
        display: block;
      }
        nav :checked ~ .icon-burger .line:nth-child(1) { 
        transform: translateY(10px) rotate(88deg);
      }
        nav :checked ~ .icon-burger .line:nth-child(3) {
        transform: translateY(-10px) rotate(-90deg);
      }
      nav :checked ~ .icon-burger .line:nth-child(2) {
        opacity: 0;
      }
  
    }
    .profile-and-logout-container{
      background-color: #bd0e0e;
      width: 40px;
      right: 0;
      bottom: 120px;
      position: fixed;  
     border-radius: 5px 0 0 5px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    
    }
    .logout-container{
      background: none;  
      margin-left: auto;
      margin-right: auto;
      display: flex;
      border-radius: 50% ;
      padding: 5px;
    }
    .logout-container p{
      opacity: 0;
     visibility:hidden;
     -webkit-transition: visibility 1s;
     transition: visibility 1s;
     position: fixed;
     bottom: 120px;
     right: 47px;
     background-color: #970909;
     color: white;
     border-radius: 5px;
     background-color: #bd0e0e;

    }
    .logout-container img{
      height: 25px;
      width: 25px;
      background: none;
      margin-right: auto;       
      margin-left: auto;
      margin-top: auto;
      margin-bottom: auto;
    }
    .logout-container:hover{
      cursor: pointer;
     }
     .logout-container:hover p{
      width: 120px;
      text-align: center;
      padding: 8px 15px;
      visibility: visible;
      opacity: 1; 
     }
      .main-container{
        width: 80%;
        height: auto;
        /* add flexbox style */
        display: flex;
        flex-direction: row; /*horizontal*/
        justify-content:left;
        flex-flow: wrap;
        margin: 0 auto;

        padding-bottom: 30px;
      }
      #line-header{
          width: 80%;
          height: 8px;
          border: none;
          background-color: #970909;
  
      }
      .about{
        width: 100%;
        margin-left: 30px;
        margin-top: 30px;

      }
      .about p{
        font-size: 40px;
        font-weight: bolder;
      }
  
     /* Change Theme : this is connected to index.js */
     .theme-btn {
      cursor: pointer;
      border: none;
      background-color: transparent;
  
    }
     
    .theme-btn img {
      height: 25px;
      width: 25px;
      background: none;
      
    }
    .toggle-container{
      height: 100px;
      width: 40px;
      right: 0;
      bottom: 70px;
      position: fixed;  
      background-color: #ac0c0c ;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-evenly;
      border-radius: 5px 0 0 5px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    
    
  }
  /* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  user-select: none;
}

  .description-container{
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      min-height: 400px;
      padding: 20px;   
    display: none;

  }
  .description-title{
    font-size: 30px;
    font-weight: bolder;
    margin: 10px;
    display: flex;
    align-items: center;
  }
  .description-title img{
    width: 40px;
  }
  .description-texts{
    margin: 10px;
    
  }
  .help-list-container{
    margin: 20px 0 20px 50px;
    color: white;
    width: 200px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
      border-radius: 15px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px #4600008e;

  }
  .help-list-container button{
    background: none;
    border: none;
    border-bottom: 1px solid rgb(206, 206, 206);
    width: 100%;
    height: 40px;
    color: black;
  }
  /* focus makes the hover effect stay*/
  .help-list-container button:hover,  .help-list-container button:focus{ 
    background-color: #970909;
    color: white;
    -webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;
  }
    /* we dont have to specify text color anymore in every content in our css, we just need this and
    all text color on the website will change on what we want, example is below. if we specify text color in the css
    of a content, it will not change text color even if we change theme, so it is better not to specify color on css above*/
    :root,
    :root.light {
      --bg-color: #fff;
      --text-color: rgb(0, 0, 0);
  
    }
    
    :root.dark {
      --bg-color: #121212;
      --text-color: white;
  
    }
  
    *{
      background-color: var(--bg-color);
      color: var(--text-color);
    }

    @media screen and (max-width: 1100px){
      .description-container{
      width: 100%;
      margin-top: 10px;
    }
    .main-container{
      display: block;
    }
    .help-list-container{
      width: 90%;
      margin: 20px auto ;

    }
    }

    .pages-container{
      width: 100%;
      border: 1px solid black;
      height: 40px;
      margin-top: 20px;
    }